#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('./assets/images/1.png') no-repeat center center;
    z-index: 9999;
}

.enq-button {


    border: none;
    position: fixed;
    background: #002347;
    color: #ffffff;
    top: 50%;
    right: 41px;
    z-index: 1000;
    transform: rotate(-90deg);
    transform-origin: top right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-size: 18px;
    cursor: pointer;
}

.float-social {
    border: none;
    position: fixed;
    background: green;
    color: white;
    top: 80%;
    right: 38px;
    z-index: 1000;
    transform: rotate(-90deg);
    transform-origin: top right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 18px;

}

.wp {
    font-size: 28px;
    color: white;
}

.enq-button:focus {
    outline: none !important;

}

.input-label {
    color: #4a4949;
    font-size: 15px;
    font-weight: 600;
}

.modal-cont {
    display: flex;
    align-items: center;
    min-height: calc(100% - 0rem);
}

.submit-button {
    width: 80%;
    background-color: #07528d;
    color: white;
    border: none;
    height: 34px;
    cursor: pointer;


}



.submit-loader {
    width: 80%;
    background-color: #07528d;
    color: white;
    border: none;
    height: 34px;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    display: none;

}

.getin-text {
    font-size: 15 !important;
    font-weight: 600;
    margin-top: 0 !important;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.mod {
    display: flex;
    flex-direction: row;
    max-width: 400px !important;
}

.modalselect {
    width: 200px;
    margin: 0;
    border: 1px solid #767676;
    min-height: 33.13px;


}

.modal {
    /* background-color: rgba(0, 0, 0, 0.3) */
}

.modheader {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.modaldiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.modalinput {

    width: 200px;
    font-size: 12px;
    height: 33.13px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 350px !important;
        margin: 1.75rem auto;
    }



}

@media (min-width: 1300px) {
    .modal-dialog {
        max-width: 400px !important;
        margin: 1.75rem auto;
    }
}

@media (max-width: 576px) {
    .modal-dialog {
        max-width: 300px !important;
        margin: 1.75rem auto;
    }
}